@tailwind base;
@tailwind components;
@tailwind utilities;

input:-webkit-autofill, input:-webkit-autofill:focus, input:-webkit-autofill:active {
  caret-color: rgb(255, 255, 255) !important;
  -webkit-background-clip: text;
  -webkit-box-shadow: 0 0 0 30px rgb(5 13 31) inset !important;
  -webkit-text-fill-color: rgb(249 250 251) !important;
}

.primary-input {
  @apply text-gray-50 bg-black-pearl-800 text-sm w-full border border-black-pearl-400 hover:border-blue-ribbon-700
  focus:border-blue-ribbon-700 outline-none py-2 pl-2 pr-10 rounded-[10px] transition-all ease-in-out;

  &.is-invalid {
    @apply bg-[url('assets/img/icons/invalid.svg')] bg-[auto_18px] bg-[center_right_12px] border border-solid border-carnation-400 hover:border-carnation-300
    focus:border-carnation-300 bg-no-repeat transition-colors ease-in-out;
  }
}

.primary-button {
  @apply flex justify-center text-sm text-gray-50 p-2 w-full disabled:opacity-70 hover:enabled:bg-blue-ribbon-800 bg-blue-ribbon-700
  border-blue-ribbon-700 hover:enabled:border-blue-ribbon-800 border rounded-[10px] transition-all ease-in-out;
}

.secondary-button {
  @apply flex justify-center text-sm text-gray-50 p-2 w-full hover:bg-black-pearl-400 border-black-pearl-400 border
  rounded-[10px] transition-all ease-in-out;
}
